soundfile
numpy
pytest
transformers
tqdm
librosa
torch
backoff
datasets==3.6
pydub
jsonlines
langcodes
dotenv
spirelm @ git+https://github.com/utter-project/SpireLM@e0b3744
sentencepiece
protobuf
accelerate
nemo
hydra-core
whisper
nemo-asr
nemo_toolkit[all]
Cython
packaging